<!DOCTYPE html>
<html>
<head>
	<title>RHETSEN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
	<h1>WELCOME TO RHETSEN!</h1>
		<h2>
			<p>The RHETSEN scale captures what people think about when talking to others.  The concept of rhetorical sensitivity was formulated in the 1970s by Professors Roderick P. Hart and Don M. Burks to highlight the difficulties people can have in their relationships - on the job and in the neighborhood, with family members and with casual acquaintances.</p>
			<p>Eventually, Hart and his colleagues wanted a way of reliably assessing people's attitudes, so they developed RHETSEN.  Since then, a great many scholars have used the scale in their own research, most often sampling the opinions of the perennial college sophomore.</p>
			<p>More recently, Professor Dakota Park-Ozee joined Hart to paint a broader picture and they are now measuring the rhetorical sensitivity of some 12,000 citizens in the U.S. and around the world.  They are asking how age, gender, education, culture, and especially politics, affect the way people interact with one another.</p>
			<p>Thus far, Hart and Park-Ozee have found three distinctive communicators: (1) <strong><em>Assertives</strong></em> - who talk to others clearly, distinctly, and forcefully; (2) <strong><em>Reflectors</strong></em> - who work especially hard to meet the needs of their communication partners; and (3) <strong><em>Sensitives</strong></em> - who adjust their remarks to the situation at hand but only when it feels right to do so. </p>
			<p>What type of communicator are you?  Let RHETSEN answer that question.</p>
		</h2>
		<a href="/rhetsen">Click here to take the test<br><br></a>
		<img src="static/images/main_img.png" alt="main image", width = "30%", height="auto">

	<p>&copy; copy right</p>
</body>
</html>
