<!DOCTYPE html>
<html>

<head>
    <title>{{ quiz_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <h1 class="mt-5" aria-label="Quiz Results">RHETSEN</h1>
        <div class="result-summary">
            <h2 aria-label="Number-questions">
                Please answer all questions.
            </h2>
        </div>
        <h3 aria-label="Questions">Questions:</h3>

        <form method="POST" action="/submit">
            {% for question in questions %}
            <div class="list-group mt-3 question-item">
                <div class="list-group-item">
                    <p class="question-text">{{ question['question'] }}</p>
                    <div class="question" id="{{ question['question_id'] }}">

                        {% for choice in question['choices'] %}
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="{{ question['question_id'] }}"
                                value="{{ choice }}" id="{{ question['question_id'] }}_{{ choice }}">
                            <label class="form-check-label" for="{{ question['question_id'] }}_{{ choice }}">
                                {{ choice }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="result-summary">
                <h2 aria-label="Number-questions">
                Please tell us about yourself.</h2>
                </h2>
                <h3 aria-label="Questions">Answers to the following questions will be completely anonymous.  They are intended to help us get a general feeling for those who complete the RHETSEN scale.  No web-based identifying information is being collected.  We deeply appreciate your help with our research.</h3>

            </div>

            <!-- Render questions from the demo_questions set -->
            {% for question in demo_questions %}
            <div class="list-group mt-3 question-item">
                <div class="list-group-item">
                    <p class="question-text">{{ question['question'] }}</p>
                    <div class="question" id="{{ question['question_id'] }}">
                        {% for choice in question['choices'] %}
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="{{ question['question_id'] }}"
                                value="{{ choice }}" id="{{ question['question_id'] }}_{{ choice }}">
                            <label class="form-check-label" for="{{ question['question_id'] }}_{{ choice }}">
                                {{ choice }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="mt-4 text-center">
                <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            // Handle form submission
            $("#submit-button").click(function (event) {
                event.preventDefault(); // Prevent default form submission via the button
                let allAnswered = true; // Flag to check if all questions have been answered
        
                $(".question").each(function() {
                    // Check if any question does not have a selected radio button
                    if ($(this).find("input[type='radio']:checked").length === 0) {
                        allAnswered = false; // Set flag to false if a question is unanswered
                        $(this).css('background-color', '#ffcccc'); // Optionally highlight the unanswered question
                    } else {
                        $(this).css('background-color', ''); // Reset background color if answered
                    }
                });
        
                if (allAnswered) {
                    $(this).closest('form').submit(); // Submit form if all questions are answered
                } else {
                    alert("Please answer all questions before continuing."); // Alert if some questions are unanswered
                }
            });
        
        });
    </script>

</body>

</html>
